cffi==1.16.0
charset-normalizer==3.3.1
cryptography==41.0.5
cx-Freeze==6.15.10
imageio==2.31.6
imutils==0.5.4
lazy_loader==0.3
networkx==3.2.1
numpy==1.26.1
opencv-python==4.8.1.78
packaging==23.2
pdfminer.six==20221105
pdfplumber==0.10.3
Pillow==10.0.1
pycparser==2.21
pypdfium2==4.22.0
scikit-image==0.22.0
tifffile==2023.9.26
